#cargando {
    display: none;
}
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html{
    width: 100%;
    min-width: 30%;
    font-size: 16px;
    color: white;
    scroll-behavior: smooth;
  }
  body{
    background-color: blue;
    width: 100%;
    min-width: 30%;
    background-color: black;
    font-family: var(-tipografia-principal);
    color: white;
    min-height: 100vh;
    opacity: 10;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  :root {
    width: 100%;
    min-width: 30%;
    -tipografia-principal: 'Inter', sans-serif;
    -tipografia-titulos: 'Playfair Display', serif
  }
  header{
    width: 100%;
    min-width: 30%;
  }
  main{
    width: 100%;
    min-width: 30%;
  }
  footer{
    width: 100%;
    min-width: 30%;
  }
  section{
    width: 100%;
    min-width: 30%;
  }
  img , figure{
    width: 100%;
    object-fit: cover;
  }
  a{
    display: block;
    text-decoration: none;
    color: inherit;
  }
  video{
    max-width: 100%;
    width: 100%;
    display: flex;
    object-fit: cover;
    object-position: center center;
  }
  p a{
    display: inline;
    min-width: 20%;
  }
  li{
    list-style-type: none;
  }
  table, tr, td{
    border-collapse: collapse;
    border-spacing: 0;
  }
  form, button, input, textarea, select{
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
    hyphens: transparent;
    display: flex;
    color: inherit;
  }
  main{
    width: 100%;
  }
  .barrita{
    background-color: rgb(12, 180, 54);
    height: 3rem;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .rueda{
    width: 70%;
    max-width: 120rem;
    margin-left: 14rem;
    overflow: hidden;
    align-self: stretch;
  }
  .rueda .todo{
    width: 400%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    transition: all .5s ease;
    transform: translateX(-25%);
  }
  .rueda .img{
    width: calc( 100% / 4);
    max-height: 40rem;
  }
  .rueda .puntos{
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  .rueda .punto{
    background-color: aqua;
    color: aquamarine;
    width: 1.5rem;
    height: 1.5rem;
    margin: .5rem;
    border-radius: 1rem;
  }
  .fotos{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
.divfotos{
    width: 100%;
}
.spanfotos{
    width: 100%;
    background-color: aquamarine;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}  
.spanfotos{
    width: 100%;
    background-color: blue;
}
.imgfotos{
    width: 400px;
    height: auto;
}
.fotos .i1{
    width: 97%;
    margin: .6%;
    margin-top: 4rem;
    margin-bottom: 1rem;
    position: relative;
}
.fotos .i2{
    width: 48%;
    margin: .6%;
}
.fotos .i3{
    width: 30%;
    margin: .6%;
}
.fotos .i4{
    width: 22%;
    margin: .6%;
}
.fotos .i5{
    width: 18%;
    margin: .6%;
}
.header .img{
    width: 60px;
}